SMTP_LISTEN_PORT=2525
SMTP_HOST_PORT=2525
METRICS_PORT=9090
METRICS_HOST_PORT=9090

OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_PRIMARY_MODEL=tinyllama
OLLAMA_FALLBACK_MODEL=phi
CLASSIFIER_TIMEOUT_MS=3000
CLASSIFIER_RETRIES=1

UPSTREAM_SMTP_HOST=mailhog
UPSTREAM_SMTP_PORT=1025

CIRCUIT_FAILURE_THRESHOLD=3
CIRCUIT_WINDOW_MS=30000
CIRCUIT_COOLDOWN_MS=30000
CLASSIFIER_CACHE_TTL_MS=3600000
RATE_LIMIT_EMAILS_PER_SECOND=10

LOG_LEVEL=info
